@font-face {
  font-family: ocra;
 src: url(OCRAEXT.TTF);
}
html {
  font-family: ocra;
  background-color: black;


}
h1 {
  position: absolute;
  font-size: 5.5vh;
  top:2vh;
  left:2vw;
}
h2{
  position: absolute;
  top: 10vh;
  font-size: 25vh;
  left:15vw;
}

a{
  text-decoration: none;
  color: white;
}
p{
  font-size: 4vh;
  position: absolute;
  left: 45vw;
  top:45vh;
}
.logo {
position: absolute;
top:5vh;
right:10.5vw;
max-height: 100%;
max-width:3vw;
}
.logo2 {
  position: absolute;
  top:5vh;
right:5vw;
max-height: 100%;
max-width:3vw;
}
.logo3 {
  position: absolute;
  top:3vh;
right:15vw;
max-height: 100%;
max-width: 5vw;
}
