@font-face {
  font-family: ocra;
 src: url(OCRAEXT.TTF);
}
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
div{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

h1 {margin: 0;
padding: 0;
border: 0;
  font-family: ocra;
    position: absolute;
    top: 5vh;
    left:3vw;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

h2 {
  font-family: ocra;
  position:absolute;
  top: 5vh;
  right:10vw;
  font-size:1.5em;
  font-weight: bold;
  color: black;

}



h3 {
  font-family: ocra;
  position:absolute;
  top: 5vh;
  right:3vw;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}
.cl-effect-3 a {
	padding: 8px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);

}


.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.image {height:100%;
       width:50%;
       }
       a:link, a:visited {
    text-decoration: none;
    color: black;
    background-color: transparent
  }
  .kuniyoshi{
    max-height: 100%;
  }
  .vangogh {
    max-height: 100%;

  }



#partegialla{
    position: absolute;
    width: 100%;
    height:33%;
    background-color:black;
    display:table-cell;
    margin-top: 15.5%;

}


img {
    border-style: none;
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
div{
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ul {
    list-style: none;
}
.logo {margin: 0;
padding: 0;
border: 0;
position: absolute;
left:48%;
bottom: 2.5%;
}
.logo2 {margin: 0;
padding: 0;
border: 0;
position: absolute;
left:52%;
bottom: 4.3%;
}
.logo3 {margin: 0;
padding: 0;
border: 0;
position: absolute;
left:45%;
bottom: 3%;
}
.transition-mask__bars {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 0;
}
